@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
a {
  @apply no-underline;
}

.header_img {
  position: relative;
  width: 100%;
  height: 100%;
}
.header_img::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-image: url("/header-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(20%);
}

input,
textarea {
  @apply p-4 bg-gray-100 rounded-s;
}

label {
  @apply text-gray-700 py-2 px-2 text-sm;
}
.icon {
  @apply text-2xl;
}
.featured_icon {
  @apply text-3xl text-gray-500 hover:text-white;
}

.btn {
  @apply py-3 px-6 rounded-s w-auto;
}

.btn-primary {
  @apply bg-[#735D4E] text-white;
}

.btn-outline {
  @apply border border-white rounded-s bg-transparent text-white hover:bg-[#31211A];
}

.chip {
  @apply border rounded-s border-gray-300 px-2 py-1 text-gray-600;
}

.subline {
  @apply bg-[#735D4E] h-2 w-10 rounded-s my-4;
}
.title {
  @apply text-5xl font-bold;
}

.text {
  @apply text-gray-600;
}
.selector_button_project {
  @apply p-4 px-20 border border-gray-300 rounded-md shadow transition-all;
}
